<h1>Welcome to BeneShare!</h1>

<h4>Beneshare is for consultants that have the ability to expense flights and accommodations and would like to share that with their co-workers</h4>
This will allow:
<li>co-workers on non-travelling projects to take advantage of unused benefits</li>
<li>co-workers on travelling projects to fly more than 1 friends/family in to visit at a time</li>
<li>co-workers with cards that offer flights/accommodations enjoy the accumulation of points/mileage on their cards</li>

</h4>


<h4>Here's some of the things you will be able to do with BeneShare:</h4>
<li>Sign up to volunteer flights and accommodation</li>
<li>Sign in to view flights and accommodations other coworkers have offered</li>
<li>Post a request for a flight or accommodation for a specific weekend</li>
<li>Answer a request for flight or accommodations</li>
<li>Queue your request for an available weekend</li>
<li>Give feedback on this app</li>
<li>Request feature and vote for requested features</li>

<li>Do all of the above from your smart phone </li>

<h5>
Note that BeneShare is only for seeing availability and making requests!
Arrangements will be made between you and interested parties over your preferred mode of communication
</h5>
<br>

<button>Enter Here</button>