%h1 Welcome to BeneShare!!
%h4 Beneshare is for consultants that have the ability to expense flights and accommodations and would like to share that with their co-workers
This will allow:
%li co-workers on non-travelling projects to take advantage of unused benefits
%li co-workers on travelling projects to fly more than 1 friends/family in to visit at a time
%li co-workers with cards that offer flights/accommodations enjoy the accumulation of points/mileage on their cards
%h4 Here's some of the things you will be able to do with BeneShare:
%li Sign up to volunteer flights and accommodation
%li Sign in to view flights and accommodations other coworkers have offered
%li Post a request for a flight or accommodation for a specific weekend
%li Answer a request for flight or accommodations
%li Queue your request for an available weekend
%li Give feedback on this app
%li Request feature and vote for requested features
%li Do all of the above from your smart phone
%h5
Note that BeneShare is only for seeing availability and making requests!
Arrangements will be made between you and interested parties over your preferred mode of communication
%br/
%button Enter Here