%h3 New Request
=form_for :request do |f|
  .row
    .columns.large-12
      =f.label :requestor, 'Your Name'
      =f.text_field :requestor, required: true
  .row
    .columns.large-8
      =f.label :location, 'Travel Location'
      =f.text_field :location, required: true
    .columns.large-4.large-pull-12
      =f.label :request_type, 'Request Type'
      =f.select :request_type, { :'Flight' => 'flight', :'Room' => 'room' }
  .row
    .columns.large-6
      =f.label :start_date, 'Start Date'
      =f.date_field :start_date, required: true
    .columns.large-6
      =f.label :end_date, 'End Date'
      =f.date_field :end_date, required: true
  .row
    .columns.large-12
      =f.label :message
      =f.text_area :message
  .row
    .columns.large-12
      %input.tiny.blue.button{type: 'submit', value: 'Create Request'}
