%div{'ng-controller' => 'RequestController'}
  %h3 Requests

  %a.tiny.blue.button{:href => '#', :'data-reveal-id' => 'new-request'} New Request
  #new-request.reveal-modal.small{:'data-reveal' => true}
    = render partial: 'new.html.haml'
    %a.close-reveal-modal &#215;

  #requests
    - @requests.each do |r|
      .description=r.message
