html{
  height: 100%;
  body{
    text-align: center;
    height: 100%;
    background: url('collab1.jpg') center center no-repeat;
    .main-nav{
      padding-left: 1%;
      padding-right: 1%;
      height: 5%;
      font-size: 150%;
      display: flex;
      justify-content: space-between;
      .left{
        float: left;
      }
      .right{
        float: left;
      }
    }
    .notice{

    }
    .content{
      height: 100%;
      form{
        display: inline-block;
        label{
        }
        input{
          max-width: 450px;
        }
      }
    }
  }
}

