.requests{
  margin-left: auto;
  margin-right: auto;
}

.p1{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: #c2e1ff !important;
}
.p2{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: #ffc2ef !important;
}
.p3{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: #c9fcb0 !important;
}

.other{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: #ffe5c7 !important;
}