.requests{
  margin-left: auto;
  margin-right: auto;
}

.p1{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: dodgerblue !important;
}
.p2{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: hotpink !important;
}
.p3{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: lawngreen !important;
}

.other{
  border: 1px black solid;
  padding: 3px;
  margin: 3px;
  background: none;
  background-color: peachpuff !important;
}